<!doctype html>
<html lang="pt-br">
	<head>
  		<meta charset="UTF-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  		<link rel="stylesheet" href="/build.css">

  		<title>404 Not Found - Error</title>
	</head>
	
	<body>
		<div class="h-screen w-full">
			<section class="mt-20">
    			<div class="w-full py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        			<div class="mx-auto max-w-screen-sm text-center">
            			<h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-sky-500">404</h1>
            			<p class="mb-4 text-3xl tracking-tight font-bold text-black">
							Rota não encontrada!
						</p>
            			<p class="mb-4 text-lg font-light text-gray-400">
							Disculpe, parece que a página você tentou acessar não existe.
						</p>
            			<a 
							href="/"
					 		class="inline-flex text-white bg-primary-orange hover:bg-light-orange focus:ring-4 focus:outline-none focus:ring-light-orange font-medium rounded-3xl text-sm px-5 py-3 text-center my-4">
							Página inicial
						</a>
        			</div>   
    			</div>
			</section>
		</div>
	</body>
</html>