<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/build.css">

  <title>Gerador de URL - Código gerado</title>
</head>

<body>
  <div class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden py-6 sm:py-12 bg-white">
    <div class="max-w-xl px-5 text-center">
      <h2 class="mb-2 text-4xl md:text-[42px] font-bold text-black">
        Prontinho Dev </br>
        <strong class="text-primary-orange">código gerado</strong> 🔑
      </h2>

      <div class="py-4 flex flex-col justify-center items-center">
        <p class="mb-4 text-base sm:text-lg text-zinc-500">
          Essa é a nova URL para ao link que você informou.
        </p>

        <button class="copy-button flex text-sky-400" data-clipboard-target="#codeElement">
          <span id="codeElement"
            class="inline-flex gap-x-1 items-center font-medium text-4xl text-sky-400 cursor-pointer hover:underline focus:underline">
            <%= code %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-copy">
                <rect width="14" height="14" x="8" y="8" rx="2" ry="2" />
                <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2" />
              </svg>
              <span>
        </button>
        <p id="copyMessage" class="text-sky-500 text-sm hidden">Link copiado</p>
      </div>

      <div class="py-3">
        <h4>URL orignal 🔗</h4>
        <p class="text-gray-400">
          <%= original_url %>
        </p>
      </div>

      <div class="flex flex-col items-center justify-center">
        <a href="<%= original_url %>"
          class="mt-5 inline-block w-80 rounded-3xl bg-primary-orange px-5 py-3 font-medium text-white shadow-md shadow-indigo-500/20 hover:bg-light-orange">
          Clique para ser redirecionado →
        </a>

        <a href="/" class="text-sm mt-2 text-sky-500 underline hover:text-blue-400 hover:no-underline cursor-pointer">Voltar ao inicio</a>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const copyButton = new ClipboardJS('.copy-button');
      const copyMessage = document.getElementById('copyMessage');

      copyButton.on('success', function (e) {
        e.clearSelection();
        copyMessage.textContent = 'Código copiado!';
        copyMessage.style.display = 'block';

        setTimeout(function () {
          copyMessage.style.display = 'none';
        }, 3000)
      });
    });
  </script>
</body>

</html>