<!doctype html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/build.css">

	<title>Gerador de URL - Código gerado</title>
</head>

<body>
	<div class="h-screen md:flex">
		<h1>Código Gerado:</h1>
    <p><%= code %></p>
    <h2>URL Original:</h2>
    <p><%= original_url %></p>
	</div>
</body>
</html>